name: Deployment pipeline

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]

  push:
    branches:
      - main

jobs:
  deployment_pipeline:
    runs-on: ubuntu-latest
    if: |
      !(
        contains(github.event.head_commit.message, '#skip') ||
        contains(github.event.commits[0].message, '#skip') ||
        (github.event.pull_request && contains(github.event.pull_request.title, '#skip'))
      )
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install

      - name: Check style
        run: npm run eslint

      - name: Run tests
        run: npm run test

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run E2E tests
        run: npm run test:e2e
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Trigger Render deployment
        if: ${{ github.event_name == 'push' }}
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}
      
  notify_through_discord:
    needs: [deployment_pipeline]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Notify success through Discord
        if: ${{ success() }}
        uses: rjstone/discord-webhook-notify@v2
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK_URL }}
          text: Deployment successful for ${{ github.repository }}. (${{ github.sha }})

      - name: Notify failure through Discord
        if: ${{ failure() }}
        uses: rjstone/discord-webhook-notify@v2
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK_URL }}
          text: Deployment failed for ${{ github.repository }}! (${{ github.sha }})
        
  tag_release:
    needs: [deployment_pipeline]
    if: |
      github.event_name == 'push' &&
      !(
        contains(github.event.head_commit.message, '#skip') ||
        contains(github.event.commits[0].message, '#skip')
      )
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  health_check_action:
    needs: [deployment_pipeline]
    runs-on: ubuntu-latest
    with:
      url: ${{ secrets.RENDER_HEALTH_CHECK_URL }}
      max-attempts: 3
      retry-delay: 5s